
$color-black:#252525;
$color-black-33: #00000033;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 微軟正黑體;
}

nav {
    display: grid;
    grid-template-columns: 20% 50% 15% 15%;
    padding: 30px 40px;
    align-items: baseline;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: #ffffff55;
    border-bottom: 1px solid $color-black-33;

    #logo {
        color: $color-black;
        font-size: 26px;
    }

    a{
        text-decoration: none;
        color: $color-black;
        text-align: right;
    }
}

#banner {
    img {
        height: 100vh;
        object-fit: cover;
    }
}

@mixin section-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    img{
        width: 100%;
    }
}

#about {
    @include section-box();
}

#product {
    @include section-box();

    grid-template-areas: "text pic";

    *:nth-child(1){
        grid-area: pic;
    }
    *:nth-child(2){
        grid-area: text;
    }
}
